```
# Gradle
.gradle/
build/
target/

# Local configuration file (sdk path, etc)
local.properties

# IDE
.idea/
.vscode/

# Compiled files
*.class
*.jar
*.war
*.aar

# Logs
*.log

# Environment
.env
.env.local
*.env.*

# Dependencies
node_modules/
**/libs/
```